.background {
	background-image: url(../images/home-background.jpg);
}

.about-background {
    background-color: black;
}

.top-background {
    background-color: rgba(200,0,77,1);
}

.text-ribbon {
    background-color: rgba(0,138,138,.6);
}

.selected {
    font-weight: bold;
}

.flex-container {
    margin-left: 15px;
}

.top-menu {
    background-color: rgba(200,0,77,1);
    padding: 40px;
}

.header {
    left: 0;
    position: absolute;
    top: 0;
}
 
.logo {
    background-color: rgba(0,138,138,1);
    border: 3px solid yellow;
    color: yellow;
    margin: 25px 15px;
    padding: 5px;
    outline: 3px solid red;
    width: 410px;
}

.logo:hover {
    background-color: yellow;
    border: 3px solid red;
    color: rgba(0,138,138,1);
    outline: 3px solid yellow;
}


#map {
    border-radius: 5px;
    height: 700px;
    width: 700px;
    margin: 2rem;
}

#footer {
    background-attachment: scroll;
    background-color: rgba(0,138,138,1);
    background-position: 0% 0%;
    bottom: 0;
    height: 60px;
    left: 0;
    padding-left: 1rem;
    position: fixed;
    width: 100%;
}

h2, h3, h4 {
    color: white;
}

p, td, th {
	color: white;
	font-size: 16pt;
}

a {
    color: yellow;
    text-decoration: none;
}

.margin-adjust {
    margin-left: 0;
    margin-right: 0;
}

.menulink {
    color: black;
    font-size: 16pt;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none !important;
}

.menulink:hover {
    color: white;
}

#time {
    color: yellow;
    font-size: 16pt;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}

.active {
    color: yellow;
}

.form-btn {
    background-color: red;
    color: black;
    display: list-item;
    margin-bottom: .25rem;
}