.background {
	background-image: url(../images/home-background.jpg);
}

.about-background {
    background-color: black;
}

.text-ribbon {
    background-color: rgba(0,0,0,.8);
}

p {
	color: white;
}

.selected {
    font-weight: bold;
}

.top-menu {
    background-color: rgba(255,72,196, 1);
    padding: .5rem;
}

.logo {
    background-color: rgba(43,209,252,1);
    color: black;
}

#map {
    height: 700px;
    width: 700px;
}

#footer {
    bottom: 0;
    left: .5rem;
    margin-top: 2rem;
    top: 90%;
    width: 100%;
}

h2 {
    color: white;
}