<div id="footer">
    <div>
        <a class="menulink" href="#">Contact Us</a>
        <a class="menulink" href="http://128.198.162.204/~cyee/pages/sitemap.shtml">Site Map</a>
    </div>
    <div style="color: white;">
        Copyright &copy; 2017 Cameron Yee. All rights reserved.
    </div>
</div>
<!-- Scripts -->
<div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/scripts.js"></script>
    <!-- Must come after scripts.js -->
    <!-- AIzaSyCwn-3H5VuLKUhzFsPJJsL36SRHriv_mMc -->
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwn-3H5VuLKUhzFsPJJsL36SRHriv_mMc&callback"></script>
</div>