<div class="row top-background">
    <div class="flex-container">
        <div class="row">
            <div class="col-auto" style="background-color: black;">
                <div class="logo">
                    <h1>Cam Bam's Bike Shop</h1>
                </div>
            </div>
            <div class="col top-menu">
                    <a id="homelink" class="menulink" href="http://128.198.162.204/~cyee/index.shtml">Home</a>
                    <a id="productslink" class="menulink" href="">Products</a>
                    <a id="aboutlink" class="menulink" href="http://128.198.162.204/~cyee/pages/about.shtml">About</a>
            </div>
        </div>
    </div>
</div>


<!--<div class="logo">
    <h1>Cam Bam's Bike Shop</h1>
</div>
<div class="top-menu">
    <a id="homebtn" type="button" class="btn btn-danger" href="http://128.198.162.204/~cyee/index.shtml">Home</a>
    <a id="productsbtn" type="button" class="btn btn-danger" href="">Products</a>
    <a id="aboutbtn" type="button" class="btn btn-danger" href="http://128.198.162.204/~cyee/about.shtml">About</a>
</div>-->